/**
 * font-face
 */

@font-face {
    font-family: 'DM Sans';
    src: url('../assets/fonts/DMSans-Italic-VariableFont_opsz,wght.woff2') format('woff2-variations');
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../assets/fonts/DMSans-VariableFont_opsz,wght.woff2') format('woff2-variations');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}
