/**
 * base
 */
@use 'sass:math';

html {
    font-size: 62.5%;
}

:root {
    --color-purple-100: hsl(254, 88%, 90%);
    --color-purple-500: hsl(256, 67%, 59%);
    --color-yellow-100: hsl(31, 66%, 93%);
    --color-yellow-500: hsl(39, 100%, 71%);
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 7%);

    --font-size-100: 1.8rem;
    --font-size-110: 2.6rem;
    --font-size-120: 3.2rem;
    --font-size-130: 4.6rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font: var(--font-size-100) /1.11 'DM Sans';
    letter-spacing: normal;
    color: var(--color-black);
    background-color: #F6F5F6;
}

body > header,
body > footer {
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
    padding: 3.2rem 1.6rem;
}

h1,
.h1 {
    font-size: var(--font-size-130);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.91;
    letter-spacing: normal;
}

h2,
.h2 {
    font-size: var(--font-size-120);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
}
h3,
.h3 {
    font-size: var(--font-size-110);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: math.div(-1.56em, 26);
}

h4,
.h4 {
    font-size: var(--font-size-100);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
}
