/**
 * tile bem module
 */
@use 'sass:math';

.tile {
    padding: 1.6rem;
    border-radius: 1rem;
    background-color: var(--color-white);

    &__title {
        font-size: 2.6rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.92;
        letter-spacing: math.div(-1.56em, 26);
    }
}
